/*Привет тот кто скопировал я скажу что это я запрещу потому что не хочу чтобы меня оскорбляли за плагиат хотя я сам это делал своими
руками не плагиатил и если ты добрый человек но скопировал просто скажи что Дмитрий Великий делал сайт!! Пожалуйста!!!
Мой вк где я могу разрешить вам плагиат с изменениями https://vk.com/bloody7538*/

.don_red {
  color:red;
}

.hr_red {
  color:red;
}

.welcome {
  color:purple;
}

.down {
  color:yellow;
}

.down0 {
  color:yellow;
}

.site {
  color:yellow;
}

.my_site {
  color:white;
}
